{% extends 'common/parent.html' %}
{% load static %}
{% block title %}
    成长
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}"/>
    <link rel="stylesheet" href="{% static 'plugin/jquery.page.css' %}">
{% endblock %}

{% block head_js %}
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}

{% block header %}
    <div class="w_header">
        <div class="container">
            <div class="w_header_top">
                <span class="w_header_nav">
					<ul>
						<li><a href="{% url 'blog:主页' %}">首页</a></li>
						<li><a href="{% url 'blog:关于' %}">关于</a></li>
						<li><a href="{% url 'blog:成长' %}" class="active">成长</a></li>
						<li><a href="">学习</a></li>
						<li><a href="">娱乐</a></li>
						<li><a href="{% url 'blog:说说' %}">说说</a></li>
						<li><a href="{% url 'blog:留言' %}">留言</a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        {% if request.session.ID %}
                            <li><a href="">{{ request.session.phone }}</a></li>
                            <li><a href="">退出登录</a></li>
                        {% else %}
                            <li><a href="{% url 'blog:登录' %}" title="登录">登录</a></li>
                            <li><a href="{% url 'blog:注册' %}" title="注册">注册</a></li>
                        {% endif %}
					</ul>
				</span>
                <div class="w_search">
                    <div class="w_searchbox">
                        <input type="text" placeholder="search"/>
                        <button>搜索</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="w_container">
        <div class="container">
            <div class="row w_main_row">

                <ol class="breadcrumb w_breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li class="active">文章</li>
                    <span class="w_navbar_tip">我们长路漫漫，只因学无止境。</span>
                </ol>

                <div class="col-lg-9 col-md-9 w_main_left">
                    <div class="panel panel-default">
                        <div class="panel-body contentList">
                            {% for article in articles %}
                                <div class="panel panel-default w_article_item">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-6 col-md-3">
                                                <a href="#" class="thumbnail w_thumbnail">
                                                    <img src="{% static 'image/头像.png' %}" alt="...">
                                                </a>
                                            </div>

                                            <h4 class="media-heading">
                                                <a class="title" href="{% url  'blog:文章详情' article.pk %}">{{ article.title }}</a>
                                            </h4>
                                            <p>
                                                {% for label in article.label_set.all %}
                                                    <a class="label label-default">{{ label.name }}</a>
                                                {% endfor %}
                                            </p>
                                            <p class="w_list_overview overView">{{ article.content | truncatewords:4 |safe }}</p>
                                            <p class="count_r"><span class="count">
                                                <i class="glyphicon glyphicon-user"></i>
                                                <a href="#">{{ article.writer }}</a></span>
                                                <span class="count">
                                                    <i class="glyphicon glyphicon-eye-open"></i>阅读:{{ article.read }}
                                                </span>
                                                <span class="count">
                                                    <i class="glyphicon glyphicon-comment"></i>评论:{{ article.comment }}
                                                </span><span
                                                        class="count"><i class="glyphicon glyphicon-time"></i>{{ article.update_time }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-md-3 w_main_right">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">最新发布</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled sidebar">
                                {% for add_article in add_articles %}
                                    <li><a href="/post/04928311">{{ add_article.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">友情链接</h3>
                        </div>
                        <div class="panel-body">
                            <div class="newContent">
                                <ul class="list-unstyled sidebar shiplink">
                                    <li><a href="https://www.baidu.com/" target="_blank">百度</a></li>
                                    <li><a href="https://www.oschina.net/" target="_blank">开源中国</a></li>
                                    <li><a href="http://www.ulewo.com/" target="_blank">有乐网</a></li>
                                    <li><a href="http://www.sina.com.cn/" target="_blank">新浪网</a></li>
                                    <li><a href="http://www.qq.com/" target="_blank">腾讯网</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}