{% extends 'common/parent.html' %}
{% load static %}
{% block title %}
    留言
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="{% static 'plugin/jquery.page.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}

{% block header %}
    <div class="w_header">
        <div class="container">
            <div class="w_header_top">
                {#            <a href="#" class="w_logo"></a>#}
                <span class="w_header_nav">
					<ul>
						<li><a href="{% url 'blog:主页' %}">首页</a></li>
						<li><a href="{% url 'blog:关于' %}">关于</a></li>
						<li><a href="{% url 'blog:成长' %}">成长</a></li>
						<li><a href="">学习</a></li>
						<li><a href="">娱乐</a></li>
						<li><a href="{% url 'blog:说说' %}">说说</a></li>
						<li><a href="{% url 'blog:留言' %}" class="active">留言</a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        {% if request.session.ID %}
                            <li><a href="">{{ request.session.phone }}</a></li>
                            <li><a href="">退出登录</a></li>
                        {% else %}
                            <li><a href="{% url 'blog:登录' %}" title="登录">登录</a></li>
                            <li><a href="{% url 'blog:注册' %}" title="注册">注册</a></li>
                        {% endif %}
					</ul>
				</span>
                <div class="w_search">
                    <div class="w_searchbox">
                        <input type="text" placeholder="search"/>
                        <button>搜索</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="w_container">
        <div class="container">
            <div class="row w_main_row">
                <ol class="breadcrumb w_breadcrumb">
                    <li><a href="{% url 'blog:主页' %}">首页</a></li>
                    <li class="active">留言</li>
                    <span class="w_navbar_tip">你，生命中最重要的过客，之所以是过客，因为你未曾为我停留。</span>
                </ol>

                <div class="col-lg-9 col-md-9 w_main_left">
                    <form action="{% url 'blog:留言' %}" method="post">
                        {% csrf_token %}
                        <p style="color: red">{{ errors.content.0 }}</p>
                        <textarea rows="3" name="content" class="form-control"></textarea>
                        <br/>
                        <input class="btn btn-success" type="submit" value="留言">
                    </form>
                    <br/>
                    {% for message in messages %}
                        <div>
                            <p style="font-size: 18px;font-family:'宋体','仿宋',sans-serif;">{{ message.content }}</p>
                            <p style="text-align:right;">留言时间：{{ message.add_time }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

